<style>
    .span-lunar-date {
        font-size: 90px;
    }

    @media (max-width: 768px) {
        .span-lunar-date {
            font-size: 70px;
        }
    }
</style>

{% load patidina_tags %}

<div class="container text-center">
    <div class="fs-md-5">{{ lunar_phase }}</div>
    <div style="margin-top:-30px">
        <span class="fw-bold text-warning span-lunar-date">
            {{ lunar_date|arabic_to_thai }}
        </span>
    </div>
    <div class="fs-md-5">{{ lunar_month|arabic_to_thai }}</div>
    <div style="font-size: 15pt;">{{ BE|arabic_to_thai }}</div>
</div>
